demo-app/src/environments/environment.prod.ts

# derived during build
angular-draft-js/draft-js.component.css

# compiled output
/dist
/dist-demo
/tmp
/out-tsc
*.component.css

# dependencies
/node_modules

# misc
npm-debug.log
yarn-error.log
