# derived during build
angular-draft-js/draft-js.component.css
angular-draft-js/**/*.component.css

# compiled output
/dist
/dist-demo
/tmp
/out-tsc

# dependencies
/node_modules

# misc
npm-debug.log
yarn-error.log
